html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing:antialiased;
}

div {
  /**border: 1px solid chocolate;**/
}

.content {
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
}

/** Navigation **/
.top-navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #DDD;
  z-index: 9999;
}

.top-navigation > .content {
  height: 4.375rem;
}

.top-navigation .logo {
  height: 4.375rem;
  }

.logo {
  width: 56px;
  padding: 0px 15px;
  height: 4.375rem;
  margin-left: 32px;
  margin-right: 200px;
       }

.top-navigation .links {
  float: right;
  color: #838994;
  font-size: 1.04rem;
  margin-top: 25px;
  margin-right: 48px;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: 1.563rem;
}

.top-navigation .links li.active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}

/**Introduction**/

.introduction {
  background-image: url('../images/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
}
.introduction h1,
.introduction h3 {
  font-weight: 300;
  color: white;
  text-align: center;
}

.introduction h1 {
  font-size: 3.125rem;
  margin-top: 275px;
  margin-bottom: 0px;
}

.introduction h3 {
  margin-top: 12px;
  margin-bottom: 25px;
  font-size: 1.563rem;
}


/*****Button*****/


.big-button {
 text-shadow: none;
 border-style: none;
 border-radius: 4px;
 padding: 16px 24px;
 line-height: 1.2;
 background-color: #f15a29;
 color: white;
 width: 9.688rem;
 text-align: center;
 margin-left: 44%;
 margin-right: 44%;
}

.big-button:hover {
  cursor: pointer;
  background-color: #d9400e;
}

/** Three images **/
.cases .adjustment {
  margin-left: 48px;
}

.cases .content {
  text-align: center;
  padding: none;
  margin-top: 118px;
  color: #1d1e21;
}

.cases {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 5rem;
}

.cases h2 {
  font-size: 2.75rem;
  margin-top: 26px;
  margin-bottom: 40px;
  font-weight: 300;
}

.content .devices > li {
  width: 310px;
  float: left;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  /*display: flex;             !* NEW, Spec - Opera 12.1, Firefox 20+ *!*/
  display: inline-block;
  }

.cases .devices h3 {
  font-weight: 400;
  font-size: 1.563rem;
  margin-top: 35px;
}

.center {
  margin-left: 280px;
}

.cases .devices p {
  font-weight: 300;
  font-size: 1.313rem;
}


/**Social**/

 .social {
  background-color: #fff;
  overflow: auto;
  padding-bottom: 9.375rem;
  text-align: center;
}
.social hr {
  border: 0;
  border-top: 1px solid #eaebec;
  margin: 1.313rem 0;
}

.social .icons > li  {
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  margin: 1.25rem 5px;
  border: 1px solid #eaebec;
  padding: 0.625rem 0;
  text-align: center;
}

.social .icons > li:hover {
  cursor: pointer;
}

.social .twitter {
  color: #55acee;
}

.social .facebook {
  color: #4c66a4;
}

.social .instagram {
  color: #3f729b;
}

.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
  }
